html {
  background: black;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.container {
  height: 1000px;
  width: 1000px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -500px 0 0 -500px;
}

.square {
  height: 96%;
  width: 96%;
  background: white;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -48% 0 0 -48%;
}

.black {
  background: black;
  animation: rotate 100s infinite linear;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}